@import url('./reset.css');

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Variables
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-white: #fff;
  --app-background-color: #1a1d28;
  --app-header-footer: #101219;
  --fa-github-color: #fff;
  --fa-linkedin-color: #0a66c2;
  --fa-twitter-color: #1d9ff6;
  --section-bg-color: #30333d;
  --social-media-box-bg-color: #1a1d28;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Classes
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.center {
  display: grid;
  place-content: center;
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

.fa-github {color: var(--fa-github-color);}

.fa-linkedin {color: var(--fa-linkedin-color);}

.fa-twitter {color: var(--fa-twitter-color);}

.fa-github, .fa-linkedin, .fa-twitter {
  text-shadow: 0px 0px 2px #000;
}

.flex {
  display: flex;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Body
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
  background-color: var(--app-background-color);
  color: var(--app-white);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Header
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
  background-color: var(--app-header-footer);
}

header .flex {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.title h1 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: var(--app-white);
  font-weight: 600;
  line-height: 50px;
}

nav {
  height: 50px;
}

nav ul {
  list-style: none;
  font-size: 0;
} 

nav ul li {
  display: inline;
  line-height: 50px;
}

nav ul li a {
  color: var(--app-white);
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.2px;
  transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
  color: var(--app-blue-hover);
}

nav ul li + li {
  margin-left: 20px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

main section {
  background-color: var(--section-bg-color);
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
  margin: 25px 0px;
  padding: 40px;
}

main .social-media {
  font-size: 0px;
  justify-content: center;
  margin-top: 25px;
}

main .social-media a {
  transition: all 0.25s ease-in-out;
}

main .social-media a:hover {
  translate: 0px -15px;
}

main .social-media a + a {
  margin-left: 50px;
}

main .social-media a .box {
  background-color: var(--social-media-box-bg-color);
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
  display: grid;
  height: 300px;
  place-content: center;
  width: 200px;
}

main .social-media a i {
  font-size: 60px;
}

form {
  margin-top: 20px;
  font-size: 0;
}

.form {
  display: grid;
  place-items: center;
}

input[type=text]:focus {
  border-color: rgb(255 255 255 / 0.3);
}

input[type=button], input[type=submit] {
  margin: 12px;
  width: 120px;
  height: 46px;
  background-color: var(--app-blue);
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: var(--app-white);
  transition: background-color 0.25s ease-in-out;
  text-transform: uppercase;
}

input[type=button]:hover, input[type=submit]:hover {
  background-color: var(--app-blue-hover);
}

input[type=text] {
  width: 320px;
  height: 46px;
  border: 1px solid rgb(255 255 255 / 0.15);
  border-radius: 50px;
  padding: 0 15px 0 38px;
  font-size: 18px;
  font-weight: 400;
  color: var(--app-white);
}

.name input[type=text] {
  background: 
    rgb(255 255 255 / 0.1) url(../image/user.png) 
    no-repeat 16px 13px;
  background-size: 17px;
  transition: background-color 0.25s ease-in-out;
}

.email input[type=text] {
  background: 
    rgb(255 255 255 / 0.1) url(../image/mail.png) 
    no-repeat 16px 13px;
  background-size: 17px;
  transition: background-color 0.25s ease-in-out;
}

.phone input[type=text] {
  background:
   rgb(255 255 255 / 0.1) url(../image/phone.png) 
   no-repeat 16px 13px;
  background-size: 17px;
  transition: background-color 0.25s ease-in-out;
}

.text-box input[type=text] {
  background: rgb(255 255 255 / 0.1);
  background-size: 17px;
  transition: background-color 0.25s ease-in-out;
  height: 100px;
  border-radius: 20px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Footer
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
footer {
  background-color: var(--app-header-footer);
  color: var(--app-footer-color);
  height: 100px;
  line-height: 100px;
  text-align: center;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Media Queries
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */