@import url('./reset.css');

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Variables
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-white: #fff;
  --app-background-color: #181b2d;
  --app-header-footer: #101219;
  --fa-github-color: #fff;
  --fa-linkedin-color: #0a66c2;
  --fa-twitter-color: #1d9ff6;
  --section-bg-color: rgba(50, 67, 75, 0.5);
  --social-media-box-bg-color: #1a1d28;
  --textarea-bg-color: #1a1d28;
  --textarea-color: #fff;
  --button-clear-bg-color: #a0a0a0;
  --clear-hover: #878787;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Classes
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.center {
  display: grid;
  place-content: center;
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

.fa-github {color: var(--fa-github-color);}

.fa-linkedin {color: var(--fa-linkedin-color);}

.fa-twitter {color: var(--fa-twitter-color);}

.fa-github, .fa-linkedin, .fa-twitter {
  text-shadow: 0px 0px 2px #000;
}

.flex {
  display: flex;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* HTML
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html {
  scroll-behavior: smooth;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Body
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
  background-color: var(--app-background-color);
  color: var(--app-white);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Header
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
  background-color: var(--app-header-footer);
  font-size: 0px;
  height: 50px;
  line-height: 50px;
}

header .flex {
  display: flex;
  justify-content: space-between;
}

.title h1 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--app-white);
  font-weight: 400;
  line-height: 50px;
  word-spacing: 2.5px;
}

nav {
  height: 50px;
}

nav ul {
  list-style: none;
  font-size: 0;
} 

nav ul li {
  display: inline;
  line-height: 50px;
}

nav ul li a {
  color: var(--app-white);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.25px;
  transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
  color: var(--app-blue-hover);
}

nav ul li + li {
  margin-left: 20px;
}

@media (max-width:768px) {
  nav ul li a {
    font-size: 15px;
  }

  .title h1 {
    font-size: 22px;
  }
}

@media (max-width:480px) {
nav ul li a {
  font-size: 10px;
}

.title h1 {
  font-size: 18px;
}
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

form {
  font-size: 0px;
}

form input {
  display: block;
  margin-top: 15px;
}

form input[type=text], input[type=tel], input[type=email] {
  width: 320px;
  height: 46px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 0px 15px 0px 40px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: border-color 0.25s ease-in-out;
}

form input[type=text] {
  background: #1a1d28 url(../image/user.ico)
  no-repeat 15px 50%;
  background-size: 18px;
}

form input[type=tel] {
  background: #1a1d28 url(../image/tel.ico)
  no-repeat 15px 12px;
  background-size: 18px;
}

form input[type=email] {
  background: #1a1d28 url(../image/mail.ico)
  no-repeat 15px 14px;
  background-size: 18px;
}

form input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus {
  border-color: rgba(255, 255, 255, 0.5);
}

form textarea {
  background-color: var(--textarea-bg-color);
  border-radius: 10px;
  color: var(--textarea-color);
  height: 180px;
  margin-top: 15px;
  padding: 15px;
  width: 320px;
}

form .flex {
  justify-content: space-between;
}

form .clear, form .send {
  color: var(--app-white);
  width: 100px;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
  font-size: 20px;
  padding: 5px 10px;
  transition: all 0.25s ease-in-out;
}

form .clear:hover, form .send:hover {
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
}

form .clear {background-color: var(--button-clear-bg-color);}

form .send {background-color: var(--app-blue);}

main section {
  background-color: var(--section-bg-color);
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
  margin: 50px 0px;
  padding: 20px 40px;
}

main .social-media {
  font-size: 0px;
  justify-content: center;
  margin-top: 25px;
}

main .social-media a {
  transition: all 0.25s ease-in-out;
}

main .social-media a:hover {
  translate: 0px -15px;
}

main .social-media a + a {
  margin-left: 50px;
}

main .social-media a .box {
  background-color: var(--social-media-box-bg-color);
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
  display: grid;
  height: 300px;
  place-content: center;
  width: 200px;
}

main .social-media a i {
  font-size: 60px;
}

form {
  margin-top: 20px;
  font-size: 0;
}

.form {
  display: grid;
  place-items: center;
}

input[type=text]:focus {
  border-color: rgb(255 255 255 / 0.3);
}

input[type=button]:hover {
  background-color: var(--app-blue-hover);
}

input[type=reset]:hover {
  background-color: var(--clear-hover);
}

input[type=text] {
  width: 320px;
  height: 46px;
  border: 1px solid rgb(255 255 255 / 0.15);
  border-radius: 50px;
  padding: 0 15px 0 38px;
  font-size: 18px;
  font-weight: 400;
  color: var(--app-white);
}

.name input[type=text] {
  background: 
    rgb(255 255 255 / 0.1) url(../image/user.png) 
    no-repeat 16px 13px;
  background-size: 17px;
  transition: background-color 0.25s ease-in-out;
}

.email input[type=text] {
  background: 
    rgb(255 255 255 / 0.1) url(../image/mail.png) 
    no-repeat 16px 13px;
  background-size: 17px;
  transition: background-color 0.25s ease-in-out;
}

.phone input[type=text] {
  background:
   rgb(255 255 255 / 0.1) url(../image/phone.png) 
   no-repeat 16px 13px;
  background-size: 17px;
  transition: background-color 0.25s ease-in-out;
}

.text-box input[type=text] {
  background: rgb(255 255 255 / 0.1);
  background-size: 17px;
  transition: background-color 0.25s ease-in-out;
  height: 100px;
  border-radius: 20px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Footer
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
footer {
  background-color: var(--app-header-footer);
  color: var(--app-footer-color);
  height: 100px;
  line-height: 100px;
  text-align: center;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Media Queries
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media (max-width: 720px) {
  main .hero-banner p {
    font-size: 42px;
  }
  
  main .social-media {
    display: grid;
    place-items: center;
  }
  
  main .social-media a:hover {
    translate: 15px 0px;
  }
  
  main .social-media a + a{
    margin: 20px 0px 0px 0px;
  }
  
  main .social-media a .box {
    height: 150px;
    width: 150px;
  }
  
  footer {
    height: 200px;
  }
}