@import url('./reset.css');

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Variables
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-white: #fff;
  --app-background-color: #1a1d28;
  --app-header-footer: #101219;
  --app-main-hero-banner-color: #fff;
  --app-footer-bg-color: #000;
  --app-footer-color: #fff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Body
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
  background-color: var(--app-background-color);
  font-size: 15px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Header
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
  background-color: var(--app-header-footer);
  font-size: 0px;
  height: 50px;
  line-height: 50px;
}

header .flex {
  display: flex;
  justify-content: space-between;
}

.title h1 {
  color: var(--app-white);
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px #000;
  word-spacing: 2.5px;
}

nav ul li {
  display: inline;
}

nav ul li + li {
  margin-left: 15px;
}

nav ul li a {
  color: var(--app-white);
  font-size: 20px;
  letter-spacing: 0.25px;
  text-decoration: none;
  text-shadow: 0px 0px 2px #000;
  transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
  color: var(--app-blue-hover);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

main .hero-banner {
  background-image: url(../image/hero-banner.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 50px);
}

main .hero-banner p {
  color: var(--app-main-hero-banner-color);
  display: grid;
  font-size: 30px;
  height: 100vh;
  place-content: center;
  text-align: center;
  text-shadow: 0px 0px 3px #000;
}

section {
  padding: 20px;
  border-radius: 20px;
  background-color: #705548;
  margin-top: 200px;
  color: #fff;
  font-size: 20px;
}

section > p {
  margin-top: 20px;
}

h3 {
  margin: 20px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}


.img {
  flex-grow: 1;
  width: calc(33.333%-13.33px);
  height: 200px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgb(0 0 0/0.2);
}


@media (max-width:768px) {
  .one, .two {
      width: calc(50% - 10px);
  }

  .three {
      width: 320px;
  }
}

@media (max-width:480px) {
  .one, .two, .three{
      width: 100%;
  }
}

.fadein {
  animation-duration: 5s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Footer
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
  background-color: var(--app-header-footer);
  color: var(--app-footer-color);
  height: 100px;
  line-height: 100px;
  text-align: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Media Queries
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */